# Copyright 2023 Canonical Ltd.
# See LICENSE file for licensing details.

options:
  version:
    default: "1.12.4"
    description: Version of knative-serving component.
    type: string
  namespace:
    default: ""
    description: The namespace to deploy Eventing to. This namespace cannot also contain another Knative Serving or Eventing instance. This configuration is required.
    type: string
  domain.name:
    default: "10.64.140.43.nip.io"
    description: The domain name used for all fully-qualified route names shown
    type: string
  istio.gateway.name:
    default: "knative-gateway"
    description: (TEMP) The name of the Istio Gateway to use for Knative Serving
    type: string
  istio.gateway.namespace:
    default: ""
    description: (TEMP) The namespace where istio is deployed. It is usually the model name where istio (pilot and gateway) are deployed. This configuration is required.
    type: string
  custom_images:
    default: |
      activator: ''
      autoscaler: ''
      controller: ''
      webhook: ''
      autoscaler-hpa: ''
      net-istio-controller/controller: ''
      net-istio-webhook/webhook: ''
      queue-proxy: ''
      domain-mapping: ''
      domainmapping-webhook: ''
      migrate: ''
    description: >
      YAML or JSON formatted input defining images to use in Knative Serving.  Any image omitted or set to '' here will
      use a default image.  For usage details, see 
      https://github.com/canonical/knative-operators/blob/main/charms/knative-serving/README.md#setting-custom-images-for-knative-serving.
    type: string
  progress-deadline:
    default: "600s"
    description:  the duration to wait for the deployment to be ready before considering it failed.
    type: string
  registries-skipping-tag-resolving:
    default: "nvcr.io"
    description: Comma-seperated list of repositories for which tag to digest resolving should be skipped.
    type: string
  queue_sidecar_image:
    default: ''
    description: >
      Image to use for the `queue-proxy` sidecar container in a Knative Service workload Pod.
    type: string
  controller-http-proxy:
    default: ""
    description: the value of HTTP_PROXY environment variable in the serving controller.
  controller-https-proxy:
    default: ""
    description: the value of HTTPS_PROXY environment variable in the serving controller.
  controller-no-proxy:
    default: ""
    description: the value of NO_PROXY environment variable in the serving controller.
