apiVersion: operator.knative.dev/v1beta1
kind: KnativeEventing
metadata:
  name: {{ app_name }}
  namespace: {{ eventing_namespace }}
spec:
  config:
    _default:
      # This is not actually functional
      placeholder: value
{% if otel_collector_svc_name %}
    observability:
      metrics.backend-destination: opencensus
      metrics.opencensus-address: {{ otel_collector_svc_name }}.{{ otel_collector_svc_namespace }}:{{ otel_collector_port }}
{% endif %}
{% if custom_images %}
  registry:
    override:
      {% for container, image in custom_images.items() %}
      {{ container }}: {{ image }}
      {% endfor %}
{% endif %}
