apiVersion: apps/v1
kind: Deployment
metadata:
  name: [[ name ]]
  namespace: [[ namespace ]]
  labels:
    app.kubernetes.io/component: controller
    app.kubernetes.io/name: [[ name ]]
    app.kubernetes.io/version: "1.1.0"
    serving.knative.dev/release: "v1.1.0"
spec:
  selector:
    matchLabels:
      app: [[ name ]]
  template:
    metadata:
      annotations:
        cluster-autoscaler.kubernetes.io/safe-to-evict: "true"
      labels:
        app: [[ name ]]
        app.kubernetes.io/component: controller
        app.kubernetes.io/name: [[ name ]]
        app.kubernetes.io/version: "1.1.0"
        serving.knative.dev/release: "v1.1.0"
    spec:
      # To avoid node becoming SPOF, spread our replicas to different nodes.
      affinity:
        podAntiAffinity:
          preferredDuringSchedulingIgnoredDuringExecution:
            - podAffinityTerm:
                labelSelector:
                  matchLabels:
                    app: [[ name ]]
                topologyKey: kubernetes.io/hostname
              weight: 100
      serviceAccountName: [[ name ]]
      containers:
        - name: [[ name ]]
          # This is the Go import path for the binary that is containerized
          # and substituted here.
          image: gcr.io/knative-releases/knative.dev/serving/cmd/[[ name ]]@sha256:2765feeaa3958827388e6f5119010ee08c0eec9ad7518bb38ac4b9a4355d87fb
          resources:
            requests:
              cpu: 100m
              memory: 100Mi
            limits:
              cpu: 1000m
              memory: 1000Mi
          env:
            - name: POD_NAME
              valueFrom:
                fieldRef:
                  fieldPath: metadata.name
            - name: SYSTEM_NAMESPACE
              valueFrom:
                fieldRef:
                  fieldPath: metadata.namespace
            - name: CONFIG_LOGGING_NAME
              value: config-logging
            - name: CONFIG_OBSERVABILITY_NAME
              value: config-observability
            # TODO(https://github.com/knative/pkg/pull/953): Remove stackdriver specific config
            - name: METRICS_DOMAIN
              value: knative.dev/internal/serving
          securityContext:
            allowPrivilegeEscalation: false
            readOnlyRootFilesystem: true
            runAsNonRoot: true
            capabilities:
              drop:
                - all
          ports:
            - name: metrics
              containerPort: 9090
            - name: profiling
              containerPort: 8008


---
apiVersion: v1
kind: Service
metadata:
  labels:
    app: [[ name ]]
    app.kubernetes.io/component: controller
    app.kubernetes.io/name: [[ name ]]
    app.kubernetes.io/version: "1.1.0"
    serving.knative.dev/release: "v1.1.0"
  name: [[ name ]]
  namespace: [[ namespace ]]
spec:
  ports:
    # Define metrics and profiling for them to be accessible within service meshes.
    - name: http-metrics
      port: 9090
      targetPort: 9090
    - name: http-profiling
      port: 8008
      targetPort: 8008
  selector:
    app: [[ name ]]
