apiVersion: operator.knative.dev/v1beta1
kind: KnativeServing
metadata:
  name: {{ app_name }}
  # TODO: make this configurable
  namespace: {{ serving_namespace }}
spec:
  version: {{ serving_version }}
  config:
    # This is analogous to the config-istio configmap
    istio:
      # A gateway and Istio service to serve external traffic.
      # The configuration format should be
      # `gateway.{{gateway_namespace}}.{{gateway_name}}: "{{ingress_name}}.{{ingress_namespace}}.svc.cluster.local"`.
      # The {{gateway_namespace}} is optional; when it is omitted, the system will search for
      # the gateway in the serving system namespace `knative-serving`.
      # Example in the Kubeflow context: gateway.kubeflow.kubeflow-gateway: "istio-ingressgateway-workload.kubeflow.svc.cluster.local"
      gateway.{{ gateway_namespace }}.{{ gateway_name }}: "{{ ingress_name }}.{{ ingress_namespace }}.svc.cluster.local"
      # A cluster local gateway to allow pods outside of the mesh to access
      # Services and Routes not exposing through an ingress.  If the users
      # do have a service mesh setup, this isn't required and can be removed.
      # The configuration format should be `local-gateway.{{local_gateway_namespace}}.
      # {{local_gateway_name}}: "{{cluster_local_gateway_name}}.
      # {{cluster_local_gateway_namespace}}.svc.cluster.local"`. The
      # {{local_gateway_namespace}} is optional; when it is omitted, the system
      # will search for the local gateway in the serving system namespace
      # `knative-serving`
      # local-gateway.{{ local_gateway_namespace }}.{{ local_gateway_name }}: "{{ cluster_local_gateway_name }}.{{ cluster_local_gateway_namespace }}.svc.cluster.local"
    # This is analogous to the config-domain configmap
    domain:
      {{ domain }}: ""
{% if otel_collector_svc_name %}
    observability:
      metrics.backend-destination: opencensus
      metrics.request-metrics-backend-destination: opencensus
      metrics.opencensus-address: {{ otel_collector_svc_name }}.{{ otel_collector_svc_namespace }}:{{ otel_collector_port }}
{% endif %}
