# reusable workflow triggered by other actions
name: Continuous Integration

on:
  workflow_call:
    secrets:
      charmcraft-credentials:
        required: true

jobs:
  lib-check:
    name: Check libraries
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: Check libs
        uses: canonical/charming-actions/check-libraries@2.1.1
        with:
          credentials: "${{ secrets.charmcraft-credentials }}"
          github-token: "${{ secrets.GITHUB_TOKEN }}"
  lint:
    name: Lint Code
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        charm: [operator, serving, eventing]
    steps:
      - uses: actions/checkout@v2
      - run: sudo apt update && sudo apt install tox
      - run: tox -e ${{ matrix.charm }}-lint
  unit:
    name: Unit Test
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        charm: [operator, serving, eventing]
    steps:
      - uses: actions/checkout@v2
      - run: sudo apt update && sudo apt install tox
      - run: tox -e ${{ matrix.charm }}-unit

  integration:
    name: Integration Test
    runs-on: self-hosted

    steps:        
      - name: Check out repo
        uses: actions/checkout@v2

      - name: Setup operator environment
        uses: charmed-kubernetes/actions-operator@main
        with:
          provider: microk8s
          channel: 1.21/stable
          # Pinned to 2.3.34 due to https://bugs.launchpad.net/juju/+bug/1992833
          # This should be fixed on release of juju 2.3.36 + libjuju 3.0.3
          bootstrap-options: --agent-version="2.9.34"
      - run: sg microk8s -c "microk8s enable metallb:'10.64.140.43-10.64.140.49,192.168.0.105-192.168.0.111'"
      - run: juju add-model knative-test

      - name: Run integration tests

        run: tox -vve integration -- --model knative-test --destructive-mode
        env:
          KUBECONFIG: $HOME/.kube/config
      
      - name: Setup tmate session
        if: failure()
        uses: mxschmitt/action-tmate@v3
        timeout-minutes: 60
        with:
          limit-access-to-actor: true

      - run: kubectl get all -A
        if: failure()
      
      - run: kubectl get ksvc -A
        if: failure()
      
      - run: kubectl get broker -A
        if: failure()
      
      - run: kubectl get trigger -A
        if: failure()

      - run: juju status
        if: failure()
