# reusable workflow triggered by other actions
name: CI

on:
  workflow_call:
    secrets:
      CHARMCRAFT_CREDENTIALS:
        required: true

jobs:
  lib-check:
    name: Check libraries
    uses: canonical/charmed-kubeflow-workflows/.github/workflows/_quality-checks.yaml@main
    secrets: inherit
    with:
        charm-path: "."

  lint:
    name: Lint Code
    runs-on: ubuntu-20.04
    strategy:
      fail-fast: false
      matrix:
        charm: [operator, serving, eventing]
    steps:
      - uses: actions/checkout@v3
      - run: sudo apt update && sudo apt install tox
      - run: tox -e ${{ matrix.charm }}-lint
  unit:
    name: Unit Test
    runs-on: ubuntu-20.04
    strategy:
      fail-fast: false
      matrix:
        charm: [operator, serving, eventing]
    steps:
      - uses: actions/checkout@v3
      - run: sudo apt update && sudo apt install tox
      - run: tox -e ${{ matrix.charm }}-unit

  terraform-checks:
    name: Terraform
    uses: canonical/charmed-kubeflow-workflows/.github/workflows/terraform-checks.yaml@main
    strategy:
      fail-fast: false
      matrix:
        charm: [operator, serving, eventing]
    with:
      charm-path: ./charms/knative-${{ matrix.charm }}
      apply: false

  integration-charm-deployment:
    name: Integration Test
    runs-on: ubuntu-20.04

    steps:
      - name: Check out repo
        uses: actions/checkout@v3

      - name: Setup operator environment
        uses: charmed-kubernetes/actions-operator@main
        with:
          provider: microk8s
          channel: 1.26-strict/stable
          juju-channel: 3.4/stable
          charmcraft-channel: latest/candidate
          microk8s-addons: "dns storage rbac metallb:10.64.140.43-10.64.140.49"

      - name: Run integration tests
        run: |
          sg snap_microk8s -c "juju add-model knative-test"
          sg snap_microk8s -c "tox -vve integration -- --model knative-test --destructive-mode"

      - run: kubectl get all -A
        if: failure()

      - run: kubectl get crds
        if: failure()

      - run: juju status
        if: failure()

      - uses: canonical/kubeflow-ci/actions/dump-charm-debug-artifacts@main
        if: always()

  integration-observability:
    name: Observability Integration Test
    runs-on: ubuntu-20.04

    steps:
      - name: Check out repo
        uses: actions/checkout@v3

      - name: Setup operator environment
        uses: charmed-kubernetes/actions-operator@main
        with:
          provider: microk8s
          channel: 1.26-strict/stable
          juju-channel: 3.4/stable
          charmcraft-channel: latest/candidate

      - name: Run integration tests
        run: |
          sg snap_microk8s -c "juju add-model cos-test"
          sg snap_microk8s -c "tox -vve cos-integration -- --model cos-test --destructive-mode"

      - run: kubectl get pod/prometheus-k8s-0 -n knative-test -o=jsonpath='{.status}'
        if: failure()

      - run: kubectl get pod/knative-operator-0 -nknative-test -o=jsonpath='{.status}'
        if: failure()

      - run: kubectl get all -A
        if: failure()

      - run: juju status
        if: failure()

      - uses: canonical/kubeflow-ci/actions/dump-charm-debug-artifacts@main
        if: always()
